@model ProductVM

<section class="container">
    <div>
        <h2>
            Create Product
        </h2>
    </div>
    <form method="post">
        
        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Title"></label>
            <input type="text" class="form-control is-valid" asp-for="Product.Title">
            <span class="valid-feedback" asp-validation-for="Product.Title"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Description"></label>
            <input type="text" class="form-control is-valid" asp-for="Product.Description">
            <span class="valid-feedback" asp-validation-for="Product.Description"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Author"></label>
            <input type="text" class="form-control is-valid" asp-for="Product.Author">
            <span class="valid-feedback" asp-validation-for="Product.Author"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.ISBN"></label>
            <input type="text" class="form-control is-valid" asp-for="Product.ISBN">
            <span class="valid-feedback" asp-validation-for="Product.ISBN"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.ListPrice"></label>
            <input type="number" class="form-control is-valid" asp-for="Product.ListPrice">
            <span class="valid-feedback" asp-validation-for="Product.ListPrice"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Price"></label>
            <input type="number" class="form-control is-valid" asp-for="Product.Price">
            <span class="valid-feedback" asp-validation-for="Product.Price"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Price50"></label>
            <input type="number" class="form-control is-valid" asp-for="Product.Price50">
            <span class="valid-feedback" asp-validation-for="Product.Price50"></span>
        </div>

        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.Price100"></label>
            <input type="number" class="form-control is-valid" asp-for="Product.Price100">
            <span class="valid-feedback" asp-validation-for="Product.Price100"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.CategoryId" class="form-label mt-4">Category </label>
            <select class="form-select" id="exampleSelect1" fdprocessedid="r6zshc" asp-items="@Model.Categories" asp-for="Product.CategoryId">
                <option selected disabled> --select category--</option>
            </select>
        </div>
        <div class="form-group has-success">
            <label class="form-label mt-4" asp-for="Product.ImageURL"></label>
            <input type="file" class="form-control is-valid" asp-for="Product.ImageURL">
            <span class="valid-feedback" asp-validation-for="Product.ImageURL"></span>
        </div>
  
        <div class="row mt-1">
            <div class="col-12 col-md-6 ">
                <button type="submit" class="btn btn-dark col-5 ">Add</button>
                <button asp-controller="Product" asp-action="Index" class="btn btn-secondary border col-5 ">Go To List</button>
            </div>
        </div>
  
    </form>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
